{% extends '../base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Forecast{% endblock %}

{% block content %}
<form method="post" class="col-lg-8">
    {% csrf_token %} 
    <div class="mb-3">
        <label class="form-label">Choose Model</label>
        {% render_field form.model rows="1" class="form-select" name="model" %}
    </div>
    <div class="mb-3">
        <label class="form-label">Stock Code</label>
        {% render_field form.comp_code rows="1" class="form-control" name="comp_code" %}
    </div>
    <div class="mb-3">
        <label class="form-label">Pick Start Date</label>
        {% render_field form.date_st rows="1" class="form-control" name="date_st" %}
    </div>
    <div class="mb-3">
        <label class="form-label">Pick End Date</label>
        {% render_field form.date_end rows="1" class="form-control" name="date_end" %}
    </div>
    <div class="d-grid gap-2 col-3">
        <button type="submit" class="btn btn-primary ">Submit</button>
    </div>
    
</form>

{{instance.eval}}

{% endblock %}